# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
#Modules
.*.mod
.*.cmd
.tmp_versions
Module.symvers
*.mod.*
*.o
*.ko
modules.order
*.swp
.onlab*
#
cli/ddns-cli
